.derivedData/
.derivedData-release/
dist/
secrets/
build/
*.xcuserdata
xcuserdata/
*.xcworkspace/xcuserdata/
.DS_Store
.swiftpm/
Package.resolved
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM
timeline.xctimeline
playground.xcworkspace
.idea/
*.log
